.login__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 76.4vh;
}

.login__content h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.login__form {
  width: 50%;
  padding: 2.5rem;
}

.login__form .box__user {
  position: relative;
}

.login__form .box__user input {
  width: 100%;
  padding: 0.625rem 0;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  outline: none;
  font-size: 1rem;
}

.box__user label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0;
  font-size: 1.2rem;
  color: var(--primary-color);
  pointer-events: none;
  transition: 0.5s;
}

.box__user input:focus ~ label,
.box__user input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 1rem;
}

.login__form .btn__login {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-bottom: 2px solid var(--black-color);
  border-radius: 0.2rem;
  cursor: pointer;
  width: 50%;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.login__form .btn__login:hover {
  background-color: var(--blue-lavender-color);
  color: var(--white-color);
  border-bottom: 2px solid var(--primary-color);
}

.login__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login__user a {
  padding: 1rem 0;
  font-size: 1rem;
}

.login__user p {
  font-size: 1rem;
}

.login__user a:hover {
  color: var(--primary-color);
}

@media (max-width: 950px) {
  .login__user {
    flex-direction: column;
  }

  .login__form {
    width: 85%;
  }

  .login__form .btn__login {
    margin-top: 1rem;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .login__form {
    width: 100%;
  }
}
