.menu__bg {
  background: var(--primary-color);
  height: 5rem;
}

.menu__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu__content ul {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.menu__content ul li a {
  display: block;
  color: var(--white-color);
  font-size: 1.3rem;
  padding: 0.5rem;
  position: relative;
}

.menu__content ul li a::after {
  bottom: 0.5rem;
  background: var(--segundary-color);
  content: "";
  height: 0.2rem;
  left: 50%;
  position: absolute;
  transition: all 300ms ease-in-out;
  width: 0;
}

.menu__content ul li a:hover:after {
  left: 10%;
  width: 80%;
}

.menu__pesquisa {
  position: relative;
  display: inline-block;
}

.menu__pesquisa input,
.menu__search input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  outline-color: var(--main-background);
  padding: 0.625rem 0.625rem 0.625rem 2.18rem;
  width: 100%;
}

.menu__pesquisa input:focus,
.menu__search input:focus {
  box-shadow: inset 3px 0px 5px rgba(0, 0, 0, 0.15);
}

.menu__pesquisa button,
.menu__search button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  right: 12.5rem;
  top: 0;
  position: absolute;
  padding: 10px;
}

.menu__search {
  display: none;
}

/*Resposividade*/

@media (max-width: 890px) {
  .menu__content ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .menu__pesquisa {
    display: none;
  }

  .menu__search {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    
  }

  .menu__search input {
    border:2px solid var(--primary-color);
    outline: none;
    padding: 0.625rem 0.625rem 0.625rem 1.18rem;
  }
}

@media (max-width: 420px) {
  .menu__content {
    justify-content: center;
  }
  .menu__content img {
    display: none;
  }
  .menu__content ul li a {
    font-size: 0.9rem;
  }
}
