.produto__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);
}

.produto__titulo {
  align-items: center;
  border-bottom: 2px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 0 0;
}

.produto__titulo h2 {
  color: var(--text-description);
  font-size: 1.8rem;
  text-transform: uppercase;
}

.produto__titulo a {
  display: inline-block;
  border: none;
  border-radius: .2rem;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.produto__titulo a:hover {
  color: var(--text);
}

.produtos {
  align-items: center;
  background: #c0c0c0;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.produtos h3 {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem 0 0.5rem 0;
}

.produtos p {
  color: var(--text-description);
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 0.3rem;
}

.produtos span {
  color: var(--primary-color);
  font-style: italic;
  font-weight: bold;
}

.produtos button {
  border: 1px solid var(--white-color);
  background-color: var(--text-description);
  border-radius: 5px;
  color: var(--white-color);
  cursor: pointer;
  font-size: 16px;
  margin: 1rem 0;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.produtos button:hover {
  background-color: var(--segundary-color);
  color: var(--text);
}

.produtos img {
  border-radius: 2% 2% 0 0;
  height: 100%;
  transition: all 300ms ease-in-out;
  width: 100%;
}

.produtos img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .produto__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
  }

  .produto__titulo h2 {
    padding: 0 1rem;
  }

  .produto__titulo a {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .produto__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
  }
}

@media (max-width: 420px) {
  .produto__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap);
  }

  .produtos h3 {
    font-size: 0.8em;
  }

  .produto__titulo h2 {
    font-size: 1.1rem;
  }

  .produto__titulo a {
    font-size: 1rem;
  }
}
