.main__bg {
  background: var(--main-background);
  padding-bottom: 8rem;
}

.section {
  min-height: 100vh;
}

.footer {
  background: var(--primary-color);
  color: var(--white-color);
  font-size: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.back__to__top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--white-color);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--primary-color);
  transform: rotate(-90deg);
  border: 0.2rem solid var(--primary-color);
}
